li {
  list-style: none;
  padding: 0.625rem;
}

ul {
  display: flex;
  padding: 0;
}

body {
  width: 120rem;
  height: auto;
  margin: 0 auto;
}

header {
  display: flex;
  height: 6.5rem;
  width: 73.125rem;
  align-items: center;
  justify-content: space-between;
  margin: 0rem auto;
}
header .img {
  width: 6.1875rem;
  height: 1.25rem;
}

.nav-principal a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #303030;
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.1875rem;
  letter-spacing: 0.02rem;
}
.nav-principal a:hover {
  color: #e27d60;
}

.nav-header img {
  width: 1.1875rem;
  height: 1.1875rem;
}

footer {
  width: 100%;
  height: auto;
  background-color: #303030;
  color: white;
  font-family: "Work Sans";
}
footer .footer_Principal_Texto {
  color: #e27d60;
  margin: 0.625rem 0;
  padding: 1.875rem 0;
}
footer .icon_social {
  display: flex;
  align-items: center;
}
footer .icon_flex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
footer .icon_flex img {
  margin: 0.625rem 0rem;
}
footer .icon_flex p {
  margin-left: 1.25rem;
}
footer .light {
  margin: 0;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.1875rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
footer .Nwt {
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.75rem;
}
footer .footer_container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 1.25rem;
  width: 73.125rem;
}
footer .footer_container img {
  margin: 0.625rem;
}

.ourteam {
  width: 73.125rem;
  margin: 0 auto;
  margin-bottom: 6.25rem;
}
.ourteam h3 {
  font-size: 1.25rem;
  font-family: "Libre Franklin" sans-serif;
  margin-bottom: 0.9375rem;
}
.ourteam p {
  font-family: "Work Sans" sans-serif;
  color: #303030;
  opacity: 0.5;
}
.ourteam img {
  width: 16.875rem;
  height: 22rem;
}

.ourteam-title {
  text-align: center;
  margin: 0 auto;
}
.ourteam-title .sub-up {
  margin-bottom: 0.625rem;
  font-family: "Work Sans";
  font-size: 1rem;
  color: #303030;
}
.ourteam-title .sub-down {
  margin-bottom: 1.25rem;
  gap: 1.25rem;
  font-family: "Libre Franklin";
  font-size: 2.25rem;
  color: #e27d60;
}
.ourteam-title .sub-down2 {
  margin-bottom: 2.5rem;
  font-size: 1.125rem;
}

.ourteam-people .ourteam-row1 {
  display: flex;
  gap: 1.875rem;
  margin-bottom: 2.125rem;
}
.ourteam-people .ourteam-row2 {
  display: flex;
  gap: 1.875rem;
}
.ourteam-people .ourteam-text {
  margin-left: 1.25rem;
}

.show-more {
  margin: 0 31.25rem;
  margin-top: 1.25rem;
  background-color: #303030;
  color: white;
  font-family: "Libre Franklin", sans-serif;
  font-size: 1.125rem;
  padding: 0.625rem 2.25rem 0.625rem 2.25rem;
  border-radius: 0.1875rem;
  border: #303030;
}

.img_partners {
  width: 73.125rem;
  margin: 0 auto;
  margin-top: 3.75rem;
  display: flex;
  justify-content: space-evenly;
}

.headline {
  background: linear-gradient(to right, #ffffff 0%, #ffffff 19%, #e6e6e6 19%, #e6e6e6 100%);
  height: 9rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.headline h1 {
  margin: 0;
  color: #e27d60;
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.75rem;
}
.headline h3 {
  margin: 0;
  font-family: var(--TLetra1);
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 0.875rem;
}

.giveusavisit {
  margin: 6.25rem 0;
  background: linear-gradient(to left, #ffffff 0%, #ffffff 35%, #e6e6e6 35%, #e6e6e6 100%);
  height: 28.75rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.giveusavisit h3 {
  text-align: right;
  margin: 0;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.1875rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #303030;
}
.giveusavisit h2 {
  text-align: right;
  margin: 0;
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.75rem;
  letter-spacing: 0.02em;
  color: #e27d60;
}
.giveusavisit p {
  margin: 0;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.3125rem;
  text-align: right;
  color: #303030;
  opacity: 0.8;
}

.giveus-content {
  display: flex;
  width: 73.125rem;
  height: 21.25rem;
  gap: 6.25rem;
  align-items: center;
}

.giveus-text {
  display: flex;
  flex-direction: column;
  height: 21.25rem;
  justify-content: space-evenly;
  align-items: flex-end;
  gap: 0.0625rem;
}

.giveus-boton {
  background-color: #303030;
  color: white;
  font-family: "Libre Franklin" sans-serif;
  font-size: 1.125rem;
  padding: 0.625rem 2.25rem 0.625rem 2.25rem;
  border-radius: 0.1875rem;
  border: #303030;
}

.main__giveavisit {
  margin: 6.25rem 0;
  background: linear-gradient(to left, #ffffff 0%, #ffffff 35%, #e6e6e6 35%, #e6e6e6 100%);
  height: 43.1875rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__giveavisit ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.main__giveavisit .giveus-text {
  display: flex;
  flex-direction: column;
  height: 21.875rem;
  justify-content: space-evenly;
  align-items: flex-end;
}
.main__giveavisit .giveus-img {
  display: flex;
  flex-wrap: wrap;
  gap: 0.1875rem;
}

.n1 {
  color: #e27d60;
}

.aks-container {
  margin-top: 6.25rem;
  position: relative;
  width: 100%;
  height: 37.5rem;
}
.aks-container .ask-text {
  position: absolute;
  width: 66.9375rem;
  height: 25rem;
  margin: 0 auto;
  left: 23.4375rem;
  top: 6.25rem;
}
.aks-container .questions {
  position: absolute;
  width: 37.5625rem;
  height: 16rem;
  top: 4.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.aks-container .questions h3 {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.1875rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin: 0;
  color: #ffffff;
}
.aks-container .questions h2 {
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.75rem;
  letter-spacing: 0.02em;
  margin: 0;
  color: #ffffff;
}
.aks-container .questions p {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.1875rem;
  margin: 0;
  opacity: 0.5;
  color: #ffffff;
}
.aks-container .formulario {
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  position: absolute;
  width: 21.25rem;
  height: 25rem;
  padding-left: 1.875rem;
  left: 43.75rem;
}
.aks-container .formulario .email {
  width: 19.375rem;
  height: 2.625rem;
  border: rgba(169, 164, 164, 0.5882352941) solid 0.1rem;
  border-radius: 0.2rem;
}
.aks-container .formulario .showmore {
  height: 2.625rem;
  width: 10.625rem;
  color: #ffffff;
  background-color: #303030;
  font-size: 1.125rem;
  border: none;
}
.aks-container .formulario .contac {
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.5rem;
  letter-spacing: 0.02em;
}
.aks-container .formulario .check {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 0.875rem;
}

.newsseller_Container {
  position: relative;
}
.newsseller_Container div img {
  width: 100%;
  height: auto;
}
.newsseller_Container div p {
  color: #ffffff;
}
.newsseller_Container .ouroffer-img {
  height: 17.1875rem;
}
.newsseller_Container .container-footer {
  position: absolute;
  top: 4rem;
  left: 22.625rem;
  color: white;
  width: 73.125rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
.newsseller_Container .Dp {
  width: 32%;
}
.newsseller_Container .Dp p {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.3125rem;
  margin: 1.25rem auto;
}
.newsseller_Container .Dp span {
  color: #e27d60;
}
.newsseller_Container .email_i {
  height: 2.625rem;
  width: 35.625rem;
  padding: 0;
  border: none;
  margin-left: 0.3125rem;
}
.newsseller_Container .email_i .email_i::placeholder {
  font-size: 1.125rem;
  color: #303030;
  opacity: 0.3;
}
.newsseller_Container .subs {
  height: 2.625rem;
  width: 10.625rem;
  margin-left: 0.625rem;
  color: #ffffff;
  background-color: #303030;
  font-size: 1.125rem;
  border: none;
}
.newsseller_Container .input_colum {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 37.3125rem;
  gap: 2.5rem;
}
.newsseller_Container .input_colum .ip {
  gap: 1.25rem;
  display: flex;
  flex-wrap: wrap;
}
.newsseller_Container .input_colum .ouroffer {
  height: 20.3125rem;
}
.newsseller_Container .input_colum .ouroffer-img {
  height: 20.3125rem;
}

.main-about {
  display: flex;
  height: auto;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  flex-direction: column;
}
.main-about .card {
  width: 55.625rem;
  height: auto;
}
.main-about .card article {
  width: 14.375rem;
  height: 19.4375rem;
}
.main-about .card article h2 {
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.75rem;
  text-align: center;
  letter-spacing: 0.02em;
}
.main-about .card article p {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.1875rem;
  text-align: center;
}
.main-about .card {
  display: flex;
  justify-content: center;
  gap: 6.25rem;
  margin: 9.375rem 0;
}
.main-about .card .card article {
  width: 14.375rem;
  height: 19.4375rem;
}
.main-about .card .card article h2 {
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.75rem;
  text-align: center;
  letter-spacing: 0.02em;
}
.main-about .card .card article p {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.1875rem;
  text-align: center;
}

.Dp2 {
  width: 23.125rem;
  height: 8.4375rem;
  position: absolute;
  left: 6rem;
}

.light {
  margin: 0;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.1875rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.ctn_lk {
  width: 65rem;
  height: 11.625rem;
}

.input_colum {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 37.3125rem;
  gap: 2.5rem;
}

.text {
  width: 100%;
  height: 31.875rem;
  background: linear-gradient(to right, #ffffff 0%, #ffffff 34.375%, #e6e6e6 34.375%, #e6e6e6 100%);
  display: flex;
  align-items: center;
}
.text .text-cont {
  width: 73.125rem;
  height: 23.125rem;
  display: flex;
  margin: 0 auto;
  align-items: center;
}
.text .text-img {
  display: flex;
}
.text .text-text {
  margin-left: 6.25rem;
  width: 31.25rem;
  height: 12.375rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.text .text-text h3 {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.1875rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #303030;
  margin: 0;
}
.text .text-text h2 {
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.75rem;
  letter-spacing: 0.02em;
  margin: 0;
  color: #e27d60;
}
.text .text-text p {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.3125rem;
  margin: 0;
  color: #303030;
}
.text .text-text a {
  text-decoration: none;
  background-color: #303030;
  color: white;
  font-family: "Libre Franklin" sans-serif;
  font-size: 1.125rem;
  padding: 0.625rem 2.25rem 0.625rem 2.25rem;
  border-radius: 0.1875rem;
  border: #303030;
}

.text-v2 {
  width: 73.125rem;
  height: 52.625rem;
  margin: 0 auto;
}
.text-v2 .text-text-v2 {
  height: 20.125rem;
}
.text-v2 .text-v2-bloq1 {
  display: flex;
  margin-bottom: 2.5rem;
}
.text-v2 .text-v2-text1 {
  margin-left: 6.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.text-v2 .text-v2-text1 h3 {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.1875rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin: 0;
  color: #303030;
}
.text-v2 .text-v2-text1 h2 {
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.75rem;
  letter-spacing: 0.02em;
  margin: 0;
  color: #e27d60;
}
.text-v2 .text-v2-text1 p {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.3125rem;
  margin: 0;
  color: #303030;
}
.text-v2 .text-v2-bloq2 {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 2.5rem;
}
.text-v2 .text-v2-text2 {
  margin-right: 6.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.text-v2 .text-v2-text2 p {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.3125rem;
  margin: 0;
  color: #303030;
}
.text-v2 .text-v2-bloq3 {
  width: 10.9375rem;
  margin: 0 auto;
}
.text-v2 .text-v2-bloq3 a {
  text-decoration: none;
  background-color: #303030;
  color: white;
  font-family: "Libre Franklin" sans-serif;
  font-size: 1.125rem;
  padding: 0.625rem 2.25rem 0.625rem 2.25rem;
  border-radius: 0.1875rem;
  border: #303030;
}

.trataments_container {
  width: 73.125rem;
  margin: 6.25rem auto;
}
.trataments_container .trataments_titles {
  text-align: center;
  margin-bottom: 1.9375rem;
}
.trataments_container .tratmens_T {
  font-family: "Libre Franklin";
  font-size: 2.25rem;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: #e27d60;
  margin: 0 auto;
}
.trataments_container .tratmens_P {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 0.5rem auto;
}
.trataments_container .trataments_images {
  display: flex;
  justify-content: space-between;
}

.our_services {
  background-color: #e6e6e6;
  height: 48.875rem;
  width: 100%;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 3.125rem;
  margin-top: 6.25rem;
}
.our_services .our_servs_up {
  display: flex;
  padding-top: 6.25rem;
  padding-bottom: 3.75rem;
  width: 73.125rem;
  margin: 0 auto;
  gap: 1.875rem;
}
.our_services .our_servs_up_img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: end;
}
.our_services .our_servs_up_img_text_our_reviews {
  font-family: "Work Sans", sans-serif, light;
  font-size: 1rem;
  color: #303030;
  margin-bottom: 0.625rem;
}
.our_services .our_servs_up_img_text {
  font-family: "Work Sans", sans-serif;
  font-size: 1.125rem;
  color: #303030;
}
.our_services .our_servs_up img {
  height: 17.5rem;
  width: 35.625rem;
}
.our_services .our_servs_up img h2 {
  font-family: "Libre Franklin" sans-serif;
  font-size: 2.25rem;
  color: #e27d60;
  margin: 0;
}
.our_services .our_servs_comments {
  display: flex;
  width: 73.125rem;
  height: 11.5rem;
  margin: 0 auto;
  gap: 1.875rem;
}
.our_services .our_servs_text_whit {
  background-color: white;
  border: solid rgba(208, 206, 206, 0.6666666667) 0.1875rem;
  border-radius: 0.1875rem;
  padding: 1.75rem;
  font-family: "Work Sans", sans-serif;
  font-size: 0.875rem;
  color: #303030;
}
.our_services .our_servs_text_down_img {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}
.our_services .our_servs_text_down_img img {
  width: 3.125rem;
  height: 3.125rem;
}
.our_services h3 {
  margin-bottom: 0.5625rem;
  font-family: "Libre Franklin" sans-serif;
  font-size: 0.875rem;
  color: #e27d60;
}
.our_services .our_servs_text_down_img_name p {
  margin-top: 0;
  font-family: "Work Sans", sans-serif, light;
  font-size: 0.75rem;
  color: #303030;
  opacity: 0.5;
}
.our_services .our_servs_img {
  width: 73.125rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  margin-top: 2.5rem;
  margin-left: 30.125rem;
}
.our_services .our_servs_img img {
  margin-top: 2.5rem;
  margin-left: 23.25rem;
}

.big-container {
  width: 73.125rem;
  height: 46.125rem;
  align-items: center;
  margin: 0 auto;
}
.big-container .article-headlines {
  text-align: center;
}
.big-container .article-posts {
  display: flex;
  gap: 1.9375rem;
}
.big-container .article-images {
  width: 23.0625rem;
  height: 29.125rem;
  border: 0.125rem #e6e6e6 solid;
}
.big-container .article-images a {
  color: black;
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.375rem;
}
.big-container .article-img2 {
  width: 23.0625rem;
  height: 15.625rem;
}
.big-container .article-h4 {
  margin-bottom: 1.25rem;
  gap: 1.25rem;
  font-family: "Libre Franklin" sans-serif;
  font-size: 1.25rem;
  color: #e27d60;
}
.big-container .article-p {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1rem;
  text-align: justify;
}
.big-container .article-box {
  margin-left: 0.625rem;
  margin-right: 0.3125rem;
}

.art-div {
  width: 73.125rem;
  height: 102.1875rem;
  align-items: center;
  margin: 0 auto;
  margin-top: 6.25rem;
}
.art-div p {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.3125rem;
  color: #303030;
}
.art-div .article-img {
  width: 41.875rem;
  height: 23rem;
  position: relative;
  right: 0.3125rem;
}
.art-div .article-div {
  display: flex;
  width: 29.375rem;
  height: 24.9375rem;
  float: right;
  flex-direction: column;
}
.art-div .article-div3 {
  margin-top: 7.375rem;
  margin-left: 12.5rem;
}
.art-div .article-content {
  width: 48.125rem;
  height: 7.1875rem;
  border: 0.0625rem solid #faeee5;
  background-color: #faeee5;
  margin-left: 12.5rem;
  text-align: center;
  padding: 2.6rem;
}
.art-div .article-content p {
  font-size: 1rem;
  line-height: 1.1875rem;
  color: #303030;
  margin-top: 1.625rem;
}
.art-div .article-customer {
  margin-left: 12.5rem;
  margin-top: 0.625rem;
}
.art-div .article-text2 {
  margin-top: 3.125rem;
}

.landing {
  position: relative;
  width: 100%;
  height: 65.1875rem;
  margin-bottom: 9.6875rem;
}
.landing .landing-img {
  position: absolute;
  left: 0%;
  right: 50.78%;
  top: 0%;
  bottom: 37.78%;
}
.landing .landing-background {
  left: 19.53%;
  width: 100%;
  height: 52rem;
  background-color: #e8a87c;
  opacity: 0.5;
  border-radius: 0rem 0rem 0rem 12.5rem;
  position: absolute;
}
.landing .landing-text {
  width: 31.25rem;
  height: 21.1875rem;
  position: absolute;
  left: 65.3125rem;
  top: 12.625rem;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  gap: 2.5rem;
}
.landing .landing-text h1 {
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.625rem;
  letter-spacing: 0.02em;
  color: #303030;
  margin: 0;
}
.landing .landing-text h1 span {
  color: #e27d60;
}
.landing .landing-text p {
  color: #303030;
  opacity: 0.5;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.3125rem;
  margin: 0;
}
.landing .landing-text a {
  background-color: #303030;
  color: white;
  font-family: "Libre Franklin" sans-serif;
  font-size: 1.125rem;
  text-decoration: none;
  padding: 0.625rem 2.25rem 0.625rem 2.25rem;
  border-radius: 0.1875rem;
  border: #303030;
}
.landing .landing-scroll {
  position: absolute;
  left: 44.64%;
  right: 44.64%;
  top: 61.46%;
  bottom: 36.82%;
}

.pricing {
  width: 73.125rem;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 6.25rem;
}
.pricing h2 {
  font-family: "Libre Franklin" sans-serif;
  font-size: 2.25rem;
  color: #e27d60;
}
.pricing .pricing-subtitle {
  font-family: "Work Sans", sans-serif;
  color: #303030;
  font-size: 1rem;
}
.pricing .pricing-prices {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}
.pricing .pricing-prices .pricing-prices-1 span {
  font-family: "Libre Franklin" sans-serif;
  font-size: 1.25rem;
  color: #e27d60;
}
.pricing .pricing-prices-title {
  font-family: "Libre Franklin" sans-serif;
  font-size: 1.25rem;
  color: #303030;
}
.pricing .prices-description {
  text-align: left;
  font-family: "Work Sans", sans-serif;
  color: #303030;
  opacity: 0.5;
  font-size: 0.75rem;
}
.pricing .pricing-button {
  color: white;
  background-color: #303030;
  padding: 0.625rem 2.25rem 0.625rem 2.25rem;
  font-family: "Libre Franklin" sans-serif;
  font-size: 1.125rem;
  border-radius: 0.1875rem;
  border-style: none;
  margin-top: 2.5rem;
}

.shop-landing {
  width: 73.125rem;
  margin: 0 auto;
  text-align: center;
  margin-top: 6.25rem;
}
.shop-landing h2 {
  font-family: "Libre Franklin" sans-serif;
  font-size: 2.25rem;
  color: #e27d60;
}
.shop-landing .shop-landing-text-sub-title {
  font-family: "Work Sans", sans-serif;
  font-size: 1rem;
  color: #303030;
  opacity: 0.7;
}
.shop-landing .shop-landing-text-down {
  font-family: "Work Sans", sans-serif;
  font-size: 1.125rem;
  color: #303030;
  opacity: 0.6;
  width: 51.875rem;
  text-align: center;
  margin: 0 auto;
}
.shop-landing .shop-landing-text {
  margin-bottom: 2.5rem;
}
.shop-landing .shop-products {
  display: flex;
  justify-content: space-between;
}
.shop-landing .bar-shop-products {
  position: relative;
  bottom: 1.375rem;
}
.shop-landing .shop-products-text {
  text-align: left;
  margin-bottom: 2.5rem;
}
.shop-landing .shop-products-text h3 {
  font-family: "Libre Franklin" sans-serif;
  color: #303030;
  font-size: 1.25rem;
}
.shop-landing .shop-products-text-up {
  font-family: "Work Sans", sans-serif;
  font-size: 0.625rem;
  color: #303030;
  opacity: 0.5;
}
.shop-landing .shop-products-text-price {
  font-family: "Libre Franklin" bold;
  color: #e27d60;
  font-size: 1rem;
}

.blog {
  width: 73.125rem;
  margin: 0 auto;
  text-align: center;
  margin-top: 6.25rem;
  margin-bottom: 6.25rem;
}
.blog .blog_landing h2 {
  font-size: 2.25rem;
  font-family: "Libre Franklin" sans-serif;
  color: #e27d60;
  margin-bottom: 2.5rem;
  margin-top: 0;
}
.blog .blog_landing .blog_landing-p {
  font-family: "Work Sans", sans-serif;
  color: #303030;
  opacity: 0.6;
  font-size: 1rem;
  margin-bottom: 1.25rem;
}
.blog .blog-img {
  margin-top: 2.5rem;
}
.blog .blog-options {
  display: flex;
  gap: 1.25rem;
}
.blog .blog-options h3 {
  font-size: 1.25rem;
  font-family: "Libre Franklin" sans-serif;
  color: #e27d60;
  margin: 0;
}
.blog .blog-types {
  border: solid 0.1875rem rgba(218, 217, 217, 0.8901960784);
  border-radius: 0.1875rem;
}
.blog .blog-types-img2 {
  position: relative;
  bottom: 1.25rem;
}
.blog .blog_landing_types_text {
  text-align: left;
  padding-left: 1.625rem;
  position: relative;
  bottom: 1.875rem;
}
.blog .blog-types-text-year {
  display: flex;
  align-items: center;
  gap: 0.3125rem;
  margin-top: 0.625rem;
}
.blog .blog-types-text-year img {
  width: 0.625rem;
  height: 0.625rem;
}
.blog .blog-types-text-year_2 {
  font-family: "Work Sans", sans-serif;
  color: #303030;
  opacity: 0.6;
  font-size: 0.625rem;
}
.blog .blog-types-text-read_more {
  display: flex;
  align-items: center;
  gap: 0.4375rem;
  font-size: 1.125rem;
  font-family: "Libre Franklin" bold;
  color: #303030;
  text-decoration: underline;
  margin: 0;
  margin-top: 0.5rem;
}
.blog .blog-types-text-read_more img {
  width: 1.25rem;
  height: 1.25rem;
}

.product-nav {
  width: 100%;
  height: 4.8125rem;
  background-color: #e27d60;
  position: relative;
  top: -1.125rem;
}
.product-nav .lupa {
  position: absolute;
  top: 1.5625rem;
  right: 23.75rem;
}
.product-nav .product-list {
  display: flex;
  justify-content: center;
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  gap: 1.5625rem;
  position: relative;
  top: 0.4375rem;
  right: 8.4375rem;
}
.product-nav .product-list a {
  text-decoration: none;
  color: white;
  letter-spacing: 0.02em;
}

.mainProduct {
  width: 73.125rem;
  height: 75.0625rem;
  margin: 0rem auto;
}
.mainProduct .product-lotion {
  width: 35.625rem;
  height: 35.625rem;
  margin-top: 6.3125rem;
}
.mainProduct .product-text {
  width: 31.8125rem;
  height: 35.625rem;
}
.mainProduct .product-text h3 {
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.75rem;
}
.mainProduct .product-text .product-h3 p {
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.0625rem;
}
.mainProduct .product-button {
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.375rem;
  background-color: #e27d60;
  width: 8.125rem;
  height: 1.875rem;
  color: white;
  border: none;
}
.mainProduct .product-bar {
  margin-left: 15.3125rem;
}
.mainProduct .product-cantidad {
  margin-top: 2.5rem;
}
.mainProduct .product-text2 {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.1875rem;
  margin-top: 1.875rem;
}
.mainProduct .product-media {
  margin-top: 1.875rem;
}
.mainProduct .product-box {
  margin-top: 1rem;
  width: 31.25rem;
  height: 2.625rem;
  left: -0.625rem;
  color: #ffffff;
  background-color: #303030;
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.375rem;
}
.mainProduct .product-text3 {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.3125rem;
}
.mainProduct .product-h {
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.75rem;
  color: #e27d60;
}
.mainProduct .product-flex {
  display: flex;
  gap: 1.25rem;
}
.mainProduct .product-review {
  width: 35.625rem;
  height: 13.5rem;
}
.mainProduct .product-div4 {
  text-align: center;
  width: 35.625rem;
  height: 9.75rem;
  border: #e6e6e6 0.125rem solid;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1rem;
}
.mainProduct .product-div4 p {
  margin: 1.875rem;
}
.mainProduct .product-h6-1 {
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  color: #e27d60;
  display: inline;
}
.mainProduct .product-h6-2 {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 0.875rem;
}
.mainProduct .Product-sell {
  display: flex;
  padding: 1rem 4rem;
}

.product-div {
  width: 73.125rem;
  height: 46.375rem;
  margin: 13rem auto 0rem;
  text-align: center;
}
.product-div .product-p {
  margin-bottom: 0.625rem;
  font-family: "Work Sans";
  font-size: 1rem;
  color: #303030;
}
.product-div .product-h2 {
  margin-bottom: 1.25rem;
  gap: 1.25rem;
  font-family: "Libre Franklin" sans-serif;
  font-size: 2.25rem;
  color: #e27d60;
}
.product-div .product-list2 {
  display: flex;
  gap: 1.875rem;
  margin-top: 3.125rem;
}
.product-div .product-nav {
  width: 100%;
  height: 4.8125rem;
  background-color: #e27d60;
  position: relative;
  top: -1.125rem;
}

.servs-discount {
  width: 100%;
}
.servs-discount .servs-discount-text {
  z-index: 2;
  width: 56.875rem;
  height: 9.375rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  position: relative;
  bottom: 15.625rem;
  gap: 10.1875rem;
}
.servs-discount .servs-discount-text p {
  font-family: "Libre Franklin" sans-serif;
  font-size: 4rem;
  color: white;
}
.servs-discount .discount-title {
  display: flex;
  flex-direction: column;
  width: 36.4375rem;
}
.servs-discount .discount-title h2 {
  font-family: "Libre Franklin" sans-serif;
  font-size: 4rem;
  color: white;
  margin: 0;
}
.servs-discount .discount-title span {
  color: #e27d60;
}
.servs-discount .discount-title p {
  font-family: "Work Sans", sans-serif;
  font-size: 1.125rem;
  color: white;
}

.Dp2 {
  width: 23.125rem;
  height: 8.4375rem;
  position: absolute;
  left: 6rem;
}

.light {
  margin: 0;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.1875rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.ctn_lk {
  width: 65rem;
  height: 11.625rem;
}

.input_colum {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 37.3125rem;
  gap: 2.5rem;
}

/*Darrel*/
.ip {
  gap: 1.25rem;
  display: flex;
  flex-wrap: wrap;
}

/*yo*/
.ouroffer {
  height: 20.3125rem;
}

.ouroffer-img {
  height: 20.3125rem;
}

/*# sourceMappingURL=style.css.map */
